$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #343a40,
	),
	text: (
		body: #777777,
		placeholder: rgba(126, 126, 122, 0.8),
	),
	theme: (
		primary: #de2021,
		secondary: #de2021,
		bg: #fff1f1,
	),
	grey: (
		1: #c5c5c5,
	),
	border: (
		1: #ededed,
	),
);
