// Font URL
$font-url: "https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Old+Standard+TT:wght@400;700&display=swap";

//Font Family
$font-family: (
	ff: (
		body: "'Jost', sans-serif",
		heading: "'Old Standard TT', serif",
		icons: "'ts-icon'",
	),
);

// Font Weight
$font-scale: (
	fw: (
		normal: 400,
		thin: 100,
		elight: 200,
		light: 300,
		regular: 400,
		medium: 500,
		sbold: 600,
		bold: 700,
		ebold: 800,
		black: 900,
	),
);

// Font Size
$font-size: (
	fs: (
		body: 16px,
		h1: 40px,
		h2: 32px,
		h3: 28px,
		h4: 24px,
		h5: 20px,
		h6: 16px,
	),
);
