@font-face {
	font-family: "flaticon_horses";
	src: url("../fonts/flaticon.ttf?0d3039883340c098be72d7fdf1401b2a")
			format("truetype"),
		url("../fonts/flaticon.woff?0d3039883340c098be72d7fdf1401b2a")
			format("woff"),
		url("../fonts/flaticon.woff2?0d3039883340c098be72d7fdf1401b2a")
			format("woff2"),
		url("../fonts/flaticon.eot?0d3039883340c098be72d7fdf1401b2a#iefix")
			format("embedded-opentype"),
		url("../fonts/flaticon.svg?0d3039883340c098be72d7fdf1401b2a#flaticon_horses")
			format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
	font-family: flaticon_horses !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.flaticon-horses:before {
	content: "\f101";
}
.flaticon-horse-head:before {
	content: "\f102";
}
.flaticon-horse:before {
	content: "\f103";
}
.flaticon-horse-1:before {
	content: "\f104";
}
.flaticon-horse-2:before {
	content: "\f105";
}
.flaticon-horse-3:before {
	content: "\f106";
}
.flaticon-horse-4:before {
	content: "\f107";
}
.flaticon-horse-5:before {
	content: "\f108";
}
.flaticon-horse-6:before {
	content: "\f109";
}
.flaticon-horse-7:before {
	content: "\f10a";
}
.flaticon-horse-8:before {
	content: "\f10b";
}
.flaticon-horse-9:before {
	content: "\f10c";
}
.flaticon-horse-10:before {
	content: "\f10d";
}
.flaticon-horse-11:before {
	content: "\f10e";
}
.flaticon-horse-12:before {
	content: "\f10f";
}
.flaticon-digital-strategy:before {
	content: "\f110";
}
.flaticon-horse-13:before {
	content: "\f111";
}
.flaticon-unicorn:before {
	content: "\f112";
}
.flaticon-horse-14:before {
	content: "\f113";
}
.flaticon-trojan-horse:before {
	content: "\f114";
}
.flaticon-horse-15:before {
	content: "\f115";
}
.flaticon-horse-16:before {
	content: "\f116";
}
.flaticon-horse-17:before {
	content: "\f117";
}
.flaticon-horse-18:before {
	content: "\f118";
}
.flaticon-horse-19:before {
	content: "\f119";
}
.flaticon-horse-20:before {
	content: "\f11a";
}
.flaticon-horse-21:before {
	content: "\f11b";
}
.flaticon-horse-22:before {
	content: "\f11c";
}
.flaticon-horse-23:before {
	content: "\f11d";
}
.flaticon-trojan:before {
	content: "\f11e";
}
.flaticon-horse-head-with-hair-outline:before {
	content: "\f11f";
}
.flaticon-horse-head-lines:before {
	content: "\f120";
}
.flaticon-horse-outlined-head:before {
	content: "\f121";
}
.flaticon-horse-head-sketch-variant:before {
	content: "\f122";
}
.flaticon-horse-with-raging-head-silhouette-variant:before {
	content: "\f123";
}
.flaticon-horse-24:before {
	content: "\f124";
}
.flaticon-horse-with-hair-outline-in-jump-pose:before {
	content: "\f125";
}
.flaticon-horse-25:before {
	content: "\f126";
}
.flaticon-horse-26:before {
	content: "\f127";
}
.flaticon-horse-27:before {
	content: "\f128";
}
.flaticon-horse-28:before {
	content: "\f129";
}
.flaticon-horse-29:before {
	content: "\f12a";
}
.flaticon-horse-30:before {
	content: "\f12b";
}
.flaticon-horse-31:before {
	content: "\f12c";
}
.flaticon-horse-32:before {
	content: "\f12d";
}
.flaticon-horse-33:before {
	content: "\f12e";
}
.flaticon-unicorn-head-horse-with-a-horn:before {
	content: "\f12f";
}
.flaticon-head-of-a-horse-outline:before {
	content: "\f130";
}
.flaticon-horse-34:before {
	content: "\f131";
}
.flaticon-horse-35:before {
	content: "\f132";
}
.flaticon-horse-36:before {
	content: "\f133";
}
.flaticon-equestrian:before {
	content: "\f134";
}
.flaticon-horse-37:before {
	content: "\f135";
}
.flaticon-horse-racing:before {
	content: "\f136";
}
.flaticon-horse-head-with-messy-mane-side-view:before {
	content: "\f137";
}
.flaticon-horse-face-art-sketch:before {
	content: "\f138";
}
.flaticon-checkmark:before {
	content: "\f139";
}
.flaticon-arrow-down:before {
	content: "\f13a";
}
.flaticon-play-button-arrowhead:before {
	content: "\f13b";
}
.flaticon-quote-2:before {
	content: "\f13c";
}
.flaticon-checked-1:before {
	content: "\f13d";
}
.flaticon-arrow-up:before {
	content: "\f13e";
}
.flaticon-play:before {
	content: "\f13f";
}
.flaticon-downloading-data:before {
	content: "\f140";
}
.flaticon-support-1:before {
	content: "\f141";
}
.flaticon-play-button-2:before {
	content: "\f142";
}
.flaticon-minus:before {
	content: "\f143";
}
.flaticon-setting-1:before {
	content: "\f144";
}
.flaticon-24-hours-support:before {
	content: "\f145";
}
.flaticon-check-box-1:before {
	content: "\f146";
}
.flaticon-plus:before {
	content: "\f147";
}
.flaticon-external-link:before {
	content: "\f148";
}
.flaticon-clock:before {
	content: "\f149";
}
.flaticon-checked:before {
	content: "\f14a";
}
.flaticon-link:before {
	content: "\f14b";
}
.flaticon-send-message:before {
	content: "\f14c";
}
.flaticon-back:before {
	content: "\f14d";
}
.flaticon-right-quotation-mark:before {
	content: "\f14e";
}
.flaticon-targeting:before {
	content: "\f14f";
}
.flaticon-left-chevron-1:before {
	content: "\f150";
}
.flaticon-location:before {
	content: "\f151";
}
.flaticon-loupe:before {
	content: "\f152";
}
.flaticon-double-arrow-1:before {
	content: "\f153";
}
.flaticon-right-arrow-1:before {
	content: "\f154";
}
.flaticon-award:before {
	content: "\f155";
}
.flaticon-right-arrow:before {
	content: "\f156";
}
.flaticon-visible:before {
	content: "\f157";
}
.flaticon-phone:before {
	content: "\f158";
}
.flaticon-done:before {
	content: "\f159";
}
.flaticon-quote-1:before {
	content: "\f15a";
}
.flaticon-user:before {
	content: "\f15b";
}
.flaticon-people:before {
	content: "\f15c";
}
.flaticon-link-1:before {
	content: "\f15d";
}
.flaticon-check:before {
	content: "\f15e";
}
.flaticon-arrow-button:before {
	content: "\f15f";
}
.flaticon-right-arrow-2:before {
	content: "\f160";
}
.flaticon-check-box:before {
	content: "\f161";
}
.flaticon-double-arrow:before {
	content: "\f162";
}
.flaticon-envelope:before {
	content: "\f163";
}
.flaticon-setting:before {
	content: "\f164";
}
.flaticon-play-button:before {
	content: "\f165";
}
.flaticon-blind:before {
	content: "\f166";
}
.flaticon-right:before {
	content: "\f167";
}
.flaticon-refresh:before {
	content: "\f168";
}
.flaticon-double-arrow-3:before {
	content: "\f169";
}
.flaticon-share:before {
	content: "\f16a";
}
.flaticon-airplane:before {
	content: "\f16b";
}
.flaticon-support:before {
	content: "\f16c";
}
.flaticon-play-button-1:before {
	content: "\f16d";
}
.flaticon-double-arrow-2:before {
	content: "\f16e";
}
.flaticon-email:before {
	content: "\f16f";
}
.flaticon-arrow-button-1:before {
	content: "\f170";
}
.flaticon-left-quote:before {
	content: "\f171";
}
.flaticon-success:before {
	content: "\f172";
}
.flaticon-double-quotes:before {
	content: "\f173";
}
.flaticon-right-quote:before {
	content: "\f174";
}
.flaticon-back-1:before {
	content: "\f175";
}
.flaticon-search:before {
	content: "\f176";
}
.flaticon-calendar:before {
	content: "\f177";
}
.flaticon-cloud-computing:before {
	content: "\f178";
}
.flaticon-location-1:before {
	content: "\f179";
}
.flaticon-left-arrow:before {
	content: "\f17a";
}
.flaticon-next:before {
	content: "\f17b";
}
.flaticon-speech-bubble:before {
	content: "\f17c";
}
.flaticon-telephone:before {
	content: "\f17d";
}
.flaticon-email-1:before {
	content: "\f17e";
}
.flaticon-left-chevron:before {
	content: "\f17f";
}
.flaticon-map:before {
	content: "\f180";
}
.flaticon-quote:before {
	content: "\f181";
}
.flaticon-quote-left:before {
	content: "\f182";
}
